/*CSS DOCUMENT*/
@import url("https://use.typekit.net/azr3igk.css");

div.container{
    background: #f0c591;
    max-width: 60em;
    margin: auto;
    padding: 3.3em;
}

div.introimage{
    background: rgba(213, 113, 54, 0.6); 
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding: 1em;
}

div.maincontent{
    max-width: 60em;
    padding-left: 4em;
    padding-right: 4em;
}

div.ingredients {
    float: left;
    width: 30%;
}

div.directions {
    float: left;
    width: 70%;
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* Johnsonville Italian Sausage Lasagna*/ 
h1{
    font-family: livermore-script-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.8em;
    text-align: center;
    line-height: 80%;
}

/* A classic family favorite*/ 
h2{
    font-family: livermore-script-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    color: #d57136;
    line-height: 60%;
}

/*Ingredients   Directions*/ 
h3{
    font-family: livermore-script-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: #d57136;
    margin-left: 1em;
}

/*Caption under image*/ 
p{
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1em;
    margin-left: 4em;
    margin-right: 4em;
    text-align: center;
}

.ingredients ul li{
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1em;
    list-style-type: circle;
    margin-bottom: 0.29em;
}

.directions ol li{
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1em;
    margin-bottom: 0.7em;
}

/*Footer*/
h6{
    font-family: livermore-script-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    color: #d57136;
    text-align: right;
    padding-right: 3.7em;
}